.App {
  height: 100vh; /* altura del navegador*/
  padding-top: 10px; /* para que el logo no este en la parte 100% superior*/
  background-color: #1b1b32;
  font-family: Lato, sans-serif; /* tipo de letra */
  display: flex; /*  */
  flex-wrap: wrap; /* para que todos los elementos no esten en la misma linea, sino que se vayan reajustando dependiendo de su tamaño */
  justify-content: center; /* para centrarlo */ 
  align-items: center; /* nos permite centrar los elementos dentro del contenedor de App en exactamente el centro, vertical y orizontalmente */ 
}

.contenedor-calculadora {
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: #99c9ff;
  border-radius: 20px; /* borde redondeado */
  border: 5px solid white;
}

.fila {
  margin: 4px;
  display: flex; /* queremos que todos los elementos de la fila se muestren en una sola linea*/
  align-items: center; /* alineamos los elementos en el centro */
  justify-content: center; /* y los alineamos verticalmente*/
}